# Flutter
/frontend/.dart_tool/
/frontend/.idea/
/frontend/build/
/frontend/.packages
/frontend/flutter_launcher_icons*
/frontend/lib/Constants/VideoCallInfo.dart
/frontend/lib/APiServices/APIBaseUrl.dart

# Java (Spring Boot)
/backend/target/
/backend/.idea/
/backend/*.iml
/backend/.gradle/
/backend/src/main/resources/application.properties

# Secrets and keys
*.jks
*.keystore
*.pem
*.p12
*.json
*.env
secret.properties
